<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstCocoapods.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18CB21391D1BDE4300019C3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CB21521D1BDE4400019C3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CB215D1D1BDE4400019C3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
